.root {
    --root-background: var(--color-scheme-1);
    --root-border-radius: 2.25em;
    --header-padding: 1.5em 1.75em;
    background: var(--root-background);
    border-radius: var(--root-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-scheme-1);
}

.header {
    padding: var(--header-padding);
    background: var(--color-scheme-11);
}