.downloads {
    --downloads-padding: 5em 10em;
    padding: var(--downloads-padding);
}

.root {
    --root-height: 100vh;
    --root-top: 0;
    
    background: var(--color-scheme-13);
    height: var(--root-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: var(--root-top);
    overflow: hidden;
}

.header {
    font-size: 48px;
    margin-bottom: 0.5em; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.link {
    border-radius: 2.75em;
    width: 4.5em;
    height: 4.5em;
    background: var(--color-scheme-2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid var(--color-scheme-11);
}

.link:hover {
    background: var(--color-scheme-3);
}

.application {
    --application-padding: 0 2em;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: var(--application-padding);
}

.application_info {
    display: inline-flex;
    gap: 2em;
    font-size: 12px;
}

.application_tools {
    margin: 0.375em 0;
}

.application_header {
    display: flex;
    flex-direction: column;
    flex: 1 0 10em;
    margin: 0;
}

.application_header h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1em;
}

.application_image {
    --application-image-margin: 2em 0;

    margin: var(--application-image-margin);
    width: 4.5em;
    height: 4.5em;
}

.application_icon {
    margin: 0;
    width: inherit;
    height: inherit;
    --root-min-width: 100%;
}

.label {
    display: flex;
    gap: 1em;
}

.description {
    font-size: 13px;
    margin: 0.5em 0 0;
}

.download {
    --root-border-radius: 3em;
}

.list {
    display: grid;
    gap: 1.5em;
}

.skills {
    display: flex;
    gap: 1.5em;
    margin: 0 0 1em;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .downloads {
        --downloads-padding: 4em 2em 2em;
    }

    .root {
        --root-height: auto;
        --root-top: auto;
    }

    .application {
        --application-padding: 2em;
    }

    .application_image {
        --application-image-margin: 0;
    }
}