.item {
    --item-display: flex;
    display: var(--item-display);
}

.menu {
    --menu-display: none;
    --menu-padding: 0;

    display: var(--menu-display);
    padding: var(--menu-padding);
    background: var(--color-panel);
    border-radius: 1em;
    gap: 0.35em;
    margin: 0;
}

.link {
    font-size: 14px;
    border-radius: 0.75em;
    padding: 0.857em 1.428em;
    color: var(--color-scheme-15);
    text-decoration: none;
    background: var(--color-scheme-12);
    box-shadow: 0 0 0.5em 0 var(--color-scheme-2);
    cursor: pointer;
    flex: 1;
}

.link:hover {
    background: var(--color-scheme-2);
}

.link:focus-visible {
    background: var(--color-scheme-2);
    outline: none;
}

.link:active {
    background: var(--color-scheme-2);
}

.link.link__active {
    background: var(--color-scheme-3);
}
