.root {
    --root-padding: 3em 10em;
    --root-grid-rows: 25em minmax(0, 400px);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--root-grid-rows);
    gap: 2em;

    padding: var(--root-padding);
    align-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    max-width: calc(1920px + 20em);
    width: 100vw;
    box-sizing: border-box;
}

div.background {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    position: static;
    height: 100vh;
}

.image {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5em;
}

.figure {
    line-height: 1;
    margin: 0;
    display: flex;
    aspect-ratio: 1 / 1;
    min-width: 0;
    width: 8em;
    position: absolute;
    top: -4em;
    left: calc(50% - 4.5em);
}

.content {
    display: flex;
    gap: 2.25em;
    height: calc(100% - 3.5em);
    margin: 1em;
    align-items: center;
    justify-content: center;
}

.content.content_tab {
    align-self: center;
}

.profile_content {
    display: flex;
    gap: 1.25em;
    height: calc(100% - 3.5em);
    margin: 1.75em 1.75em 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 5em;
    text-align: center;
}

.content.content__center {
    justify-content: center;
    align-items: center;
}

.skills, .tools {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5em;
    height: max-content;
}

.text {
    font-family: 'Courier New', Courier, monospace;
}

.profile_panel {
    position: relative;
    overflow: inherit;
    --root-background: var(--color-panel);
}

svg.icon_wrench, svg.icon_person, svg.icon_code  {
    --root-width: 7rem;
    --root-height: 7rem;
    flex: 0 1 7rem;
}

.panel {
    --root-border-radius: 1.5em;
    --header-padding: 1em;
    --root-background: var(--color-panel);
}

.author {
    font-size: 18px;
    margin: 0;
}

.position {
    font-size: 30px;
    margin: 0;
}

.header {
    font-size: 20px;
    line-height: 1.1em;
}

.profile {
    --profile-height: 100vh;

    display: grid;
    justify-items: center;
    height: var(--profile-height);
}

.telegram {
    transform: rotate(-45deg);
}

.link {
    color: var(--color-scheme-15);
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.5em;
    align-items: center;

    font-size: 14px;
    border-radius: 0.75em;
    padding: 0.75em 1.428em;
    color: var(--color-scheme-15);
    text-decoration: none;
    background: var(--color-scheme-12);
    cursor: pointer;
}

.contact:hover {
    text-decoration: underline;
    background: var(--color-scheme-2);
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5em;
    height: max-content;
}

.icon_card {
    --root-width: 7rem;
    --root-height: 7rem;
    flex: 0 1 auto;
}

.profile_info {
    display: flex;
    gap: 1.25em;
    height: calc(100% - 3.5em);
    margin: 1.75em 1.75em 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 5em;
    text-align: center;
}

.details {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

@media screen and (max-width: 1365px) {
    .root {
        --root-padding: 4em 2em;
        --root-grid-rows: auto;
    }
}

@media screen and (max-width: 1600px) {
    .profile {
        --profile-height: auto;
    }
}