.button {
    --root-box-shadow: 0 0 0.5em 0 var(--color-scheme-2);
    border: 1px dashed var(--color-scheme-14);

    --root-background: var(--color-scheme-2);
    --root-background-hover: var(--color-scheme-3);
}
