:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-scheme-17);

    --color-scheme-0: #f0f0f0;
    --color-scheme-1: #d9d9d9;      
    --color-scheme-2: #bec0c0;      
    --color-scheme-3: #a9abab;      
    --color-scheme-4: #e3e3e3;      
    --color-scheme-5: #a9abab;      
    --color-scheme-6: #e1e1e1;      
    --color-scheme-7: #e0e0e0;      
    --color-scheme-8: #dee0e0;      
    --color-scheme-9: #d9d9d9;      
    --color-scheme-10: #0f0f0f;     
    
    --color-scheme-11: #f9f9f9;     
    --color-scheme-12: #f1f1f1;     
    --color-scheme-13: #e9e9e9;    
    --color-scheme-14: #e3e3e3;       
       
    --color-scheme-15: #24282a;        
    --color-scheme-16: #3e4243;
    --color-scheme-17: #3e4243;  

    --color-panel: rgba(217, 217, 217, 0.9);
    background: var(--color-scheme-14);
  }

  :root body.dark {
    color: var(--color-scheme-17);
  
    --color-scheme-0: #535658;
    --color-scheme-1: #292d2f;
    --color-scheme-2: #3e4243;
    --color-scheme-3: #535658;
    --color-scheme-4: #696c6d;
    --color-scheme-5: #7e8182;
    --color-scheme-6: #949697;
    --color-scheme-7: #a9abab;
    --color-scheme-8: #bec0c0;
    --color-scheme-9: #d4d5d5;
    --color-scheme-10: #e9eaea;
  
    --color-scheme-11: #24282a;
    --color-scheme-12: #202425;
    --color-scheme-13: #1c1f20;
    --color-scheme-14: #181b1c;
  
    --color-scheme-15: #e9e9e9;
    --color-scheme-16: #a9a9a9;
    --color-scheme-17: #e0e0e0;
  
    --color-panel: rgba(41, 45, 47, 0.9);
    background: var(--color-scheme-14);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-scheme-17);

    --color-scheme-0: #535658;
    --color-scheme-1: #292d2f;
    --color-scheme-2: #3e4243;
    --color-scheme-3: #535658;
    --color-scheme-4: #696c6d;
    --color-scheme-5: #7e8182;
    --color-scheme-6: #949697;
    --color-scheme-7: #a9abab;
    --color-scheme-8: #bec0c0;
    --color-scheme-9: #d4d5d5;
    --color-scheme-10: #e9eaea;
  
    --color-scheme-11: #24282a;
    --color-scheme-12: #202425;
    --color-scheme-13: #1c1f20;
    --color-scheme-14: #181b1c;
  
    --color-scheme-15: #e9e9e9;
    --color-scheme-16: #a9a9a9;
    --color-scheme-17: #e0e0e0;
  
    --color-panel: rgba(41, 45, 47, 0.9);
    background: var(--color-scheme-14);
  }

  :root body.light {
    color: var(--color-scheme-17);
    
    --color-scheme-0: #f0f0f0;
    --color-scheme-1: #d9d9d9;      
    --color-scheme-2: #bec0c0;      
    --color-scheme-3: #a9abab;      
    --color-scheme-4: #e3e3e3;      
    --color-scheme-5: #a9abab;      
    --color-scheme-6: #e1e1e1;      
    --color-scheme-7: #e0e0e0;      
    --color-scheme-8: #dee0e0;      
    --color-scheme-9: #d9d9d9;      
    --color-scheme-10: #0f0f0f;     
    
    --color-scheme-11: #f9f9f9;     
    --color-scheme-12: #f1f1f1;     
    --color-scheme-13: #e9e9e9;    
    --color-scheme-14: #e3e3e3;       
       
    --color-scheme-15: #24282a;        
    --color-scheme-16: #3e4243;
    --color-scheme-17: #3e4243;  

    --color-panel: rgba(217, 217, 217, 0.9);
    background: var(--color-scheme-14);
  }
}

body {
  margin: 0;
}