.root {
    --footer-height: 400px;
    --root-padding: 0 10em 5em;
    --root-width: calc(100% - 20em);

    height: var(--footer-height);
    width: var(--root-width);
    transform: translateY(var(--transform-position));
    background: var(--color-scheme-11);
    position: relative;
    z-index: 1;
    border-radius: 3em 3em 0 0;
    padding: var(--root-padding);
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

.profile_content {
    display: flex;
    gap: 1.25em;
    margin: 1.75em 1.75em 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 5em;
    text-align: center;
}

.image {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5em;
}

.figure {
    line-height: 1;
    margin: 0;
    display: flex;
    aspect-ratio: 1 / 1;
    min-width: 0;
    width: 8em;
    position: absolute;
    top: -4em;
    left: calc(50% - 4.5em);
}

.author {
    font-size: 18px;
    margin: 0;
}

.position {
    font-size: 30px;
    margin: 0;
}

.copyright {
    text-align: center;
    width: inherit;
    padding-top: 1em;
    border-top: 1px solid var(--color-scheme-3);
    font-size: 13px;
    margin: auto 0 0;
    align-self: center;
}

.sources {
    text-align: center;
    font-size: 13px;
    margin: auto 0 0;
}

.list {
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-align: center;
}

.list_item {
    list-style: none;
}

.link {
    color: var(--color-scheme-10);
}

@media screen and (max-width: 800px) {
    .root {
        --root-padding: 0 2em 5em;
        --root-width: auto;
        --footer-height: auto;
    }
}